<div class="container-fluid">
  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4 mt-3">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Vandaag</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{countDay}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4 mt-3">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Maand</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{countMonth}}</div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-6 mb-4 mt-3">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Jaar</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{countYear}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Content Row -->

  <div class="row">
    <!-- Area Chart -->
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-2 font-weight-bold text-primary">Overtredingen {{currentYear}} per maand</h6>
          <select class="form-control col-4" (change)="changeSiteMonth($event)">
            <option value="0">Alle overtredingen</option>
            <option *ngFor="let site of sites" [value]="site.siteID">{{site.name}}</option>
          </select>
          <select class="form-control col-4" (change)="changeYearMonth($event)">
            <option *ngFor="let year of years" [value]="year" [selected]="year.toString() === currentYear">{{year}}</option>
          </select>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartDataMoths" [labels]="barChartLabelsMonth" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-12">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Overtredingen per uur</h6>
          <select class="form-control col-4" (change)="changeSiteHour($event)">
            <option value="0">Alle overtredingen</option>
            <option *ngFor="let site of sites" [value]="site.siteID">{{site.name}}</option>
          </select>
          <select class="form-control col-4" (change)="changeYearHours($event)">
            <option *ngFor="let year of years" [value]="year" [selected]="year.toString() === currentYear">{{year}}</option>
          </select>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-area">
            <div>
              <div>
                <div style="display: block">
                  <canvas baseChart [datasets]="barChartDataHours" [labels]="barChartLabelsHours" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <p class="invisible">Add some quality, svg illustrations to your project courtesy of <a target="_blank" rel="nofollow"
      href="https://undraw.co/">unDraw</a>, a constantly updated collection
    of beautiful svg images that you can use completely free and without attribution!</p>

</div>
<!-- /.container-fluid -->
