<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Page Heading -->
        <br />
        <br />
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold">Bedrijfsgegevens {{company.name}}</h3>
          </div>
          <div class="card-body">
            <div class="table-responsive">
                <ul>
                    <li>Stad: {{company.zipcode}} {{company.city}}</li>
                    <li>Straat: {{company.street}} {{company.strNumber}}</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Main Content -->
  
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Getaby</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->
  </div>